<div class="error-wrapper rounded border bg-white px-5">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-xl-4">
            <h1 class="text-primary bold error-title">404</h1>
            <p class="pt-4 pb-5 error-subtitle">Looks like something went wrong.</p>
            <a class="btn btn-primary btn-pill">Volver al panel</a>
        </div>
    </div>
</div>