{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Linda Sonrisa - Recuperar contraseña
{% endblock %}

{% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container">
        <h2>¿Necesitas cambiar tu contraseña?</h2>
        <p>Ingresa tu e-mail y enviaremos un correo a tu bandeja de entrada.</p>
        <form method="POST" class="formRecuperar" data-url="/reiniciar_contrasena/">
            {% csrf_token %}
            <label for="id_email">Correo:</label> {{ form.email }}
            <button type="submit" id="btnRecuperar" class="btn btn-primary">Enviar correo</button>
        </form>
        <div id="recuperarPwd" style="display:none;">
            <!-- div para cargar un loader -->
            <div id="load-screen-2" class="form-group d-flex">
                <img src="{% static 'base/images/load_home.gif' %}">
                <p id="msgEnviando"> Enviando correo..</p>
            </div>
    
        </div>
        <div id="msgRecuperar" style="display:none;"></div>
    </div>
</section>


<script>
    function esconder() {
        var x = $(".mouse");
        $('.mouse').css({
            'display': 'none'
        });
    };

    window.onload = function () {
        esconder();
    };
</script>
{% endblock %}