{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Linda Sonrisa - Contraseña reestablecida
{% endblock %}

{% block content %}

<div class="container" id="contenedor_pwd_reestablecida">
    <h2>Tu contraseña ha sido reestablecida correctamente.</h2>

    <a id="btnConfirmar" class="btn btn-primary" href="{% url 'generales:iniciar_sesion' %}">Iniciar sesión</a>
</div>

<script>
    function esconder() {
        var x = $(".mouse");
        $('.mouse').css({
            'display': 'none'
        });
    };

    window.onload = function () {
        esconder();
    };
</script>
{% endblock %}