{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Linda Sonrisa - Recuperar contraseña
{% endblock %}

{% block content %}

{% if validlink %}

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container">
        <h2>Confirmar contraseña.</h2>
        <p>Ingresa tu nueva contraseña, recuerda no compartir tus datos de cuenta con nadie.</p>
        <form method="POST" class="formConfirmar" data-url="/confirmar_contrasena/">
            {% csrf_token %}
            
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}

            
            <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
            <button type="submit" id="btnConfirmar" class="btn btn-primary">Cambiar contraseña</button>
        </form>
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </div>
</section>

{% else %}

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container">
        <h1>Enlace inválido: Este enlace ya ha sido utilizado.</h1>
        <p>Por favor, repita los pasos para reestablecer contraseña.</p>
    </div>
</section>

{% endif %}

<script>
    function esconder() {
        var x = $(".mouse");
        $('.mouse').css({
            'display': 'none'
        });
    };

    window.onload = function () {
        esconder();
    };
</script>
{% endblock %}