#rut, #nombre, #apePaterno, #apeMaterno, #fecha_nacimiento {
    background-color: rgba(128, 128, 128, 0.267) !important;
}

#alertPersonal, #alertCuenta, #alertDocumentos {
    display: none;
}

#p_genero, #p_movil, #p_fijo, #p_region, #p_comuna, #p_direccion,
#p_correo, #p_pwd, #p_pwdConfirm,
#p_afp, #p_liquidaciones, #p_finiquitos, #p_salud, #p_pasaporte, #p_correo_existe, #p_rut_existe {
    display: none;
}

#recuperarcontrasena:hover {
    background-color: rgb(65, 171, 173);
    opacity: 80%;
    color: white;
    border-radius: 5px;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/
@media only screen
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    /* tabla de documentos */
    #tablaDocumentos td:nth-of-type(1):before {
        content: "Documento";
    }

    #tablaDocumentos td:nth-of-type(2):before {
        content: "Visualizar";
    }

    /* tabla de reservas */
    #tablaReservas td:nth-of-type(1):before {
        content: "Código";
    }

    #tablaReservas td:nth-of-type(2):before {
        content: "Servicio";
    }

    #tablaReservas td:nth-of-type(3):before {
        content: "Médico";
    }

    #tablaReservas td:nth-of-type(4):before {
        content: "Fecha reserva";
    }

    #tablaReservas td:nth-of-type(5):before {
        content: "Hora";
    }

    #tablaReservas td:nth-of-type(6):before {
        content: "Box";
    }
}

#tablaDocumentos, #tablaReservas {
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
}

#tablaDocumentos th, #tablaReservas th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablaDocumentos tr:nth-child(even), #tablaReservas tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablaDocumentos tr:hover, #tablaReservas tr:hover {
    background-color: #ddd;
}

#tablaDocumentos th, #tablaReservas th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(65, 171, 173);
    color: white;
}

#profilePicture {
    display: none;
}

.card-body {
    background-color: aliceblue;
}

#btnChangePicture {
    background-color: #3fabad;
    border-color: #3fabad;
}

#small {
    font-weight: bold;
    color: rgb(163, 0, 0);
}

#divFile {
    display: inline-flex;
    height: max-content;
}

#nombreperfil {
    color: #3fabad;
    font-weight: bold;
}

#rowPasaporte, #p_existente {
    display: none;
}